# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.venv/
.env
.cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Data/Artifacts
artifacts/
data/
!data/.gitkeep

# OS/IDE
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
